body{
font-family:Arial;
background:#f4f2ff;
padding:20px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
}

.task-input{
margin:20px 0;
}

button{
padding:6px 10px;
border:none;
background:#6d28d9;
color:white;
border-radius:5px;
cursor:pointer;
}

.task{
background:white;
padding:10px;
margin:6px 0;
border-radius:6px;
display:flex;
justify-content:space-between;
}

.grid{
display:grid;
grid-template-columns:repeat(7,40px);
gap:6px;
margin-top:10px;
}

.day{
width:40px;
height:40px;
background:#ddd;
cursor:pointer;
border-radius:4px;
}

.done{
background:#6d28d9;
}

#heatmap{
display:grid;
grid-template-columns:repeat(30,14px);
gap:4px;
margin-top:10px;
}

.box{
width:14px;
height:14px;
background:#eee;
}

/* 12 colors */

.c1{background:#ede9fe}
.c2{background:#ddd6fe}
.c3{background:#c4b5fd}
.c4{background:#a78bfa}

.c5{background:#bfdbfe}
.c6{background:#93c5fd}
.c7{background:#60a5fa}
.c8{background:#3b82f6}

.c9{background:#fef3c7}
.c10{background:#fde68a}
.c11{background:#facc15}
.c12{background:#eab308}

.dark{
background:#0f172a;
color:white;
}
